/*
 * style.css: CSS style definition file for `Rubyavailable'.
 * (<URL:http://www.jin.gr.jp/~nahi/Ruby/*>)
 */

body {
    background: #EEEEEE;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 90%;
    font-family: verdana, arial, helvetica, Sans-Serif;
}

a:link { color: blue; }
a:active { color: red; }
a:hover { color: red; }
a:visited { color: purple; }

h1 {
    font-family: "comic sans ms", verdana, sans-serif; 
    text-align: right;
    margin-top: 5%;
    margin-right: 10%;
}

h2, h3, h4, h5, h6 {
    font-family: verdana, arial, helvetica, Sans-Serif;
}

h2 {
    color: #FFFFFF;
    background: #CC3333;
}

div.header p.status { text-align: right; }
div.header p.last-modified { text-align: left; }

/*
li p {
    margin-top: -1ex;
}
*/

dt {
    font-weight: bold;
    margin-top: 2ex;
    margin-left: 1em;
}

address {
    color: gray;
    background: #EEEEEE;
    text-align: right;
    font-family: Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

pre {
    border-right: #646464 1px solid;
    padding-right: 0.5em;
    border-top: #646464 1px solid;
    padding-top: 0.5em;
    border-left: #646464 1px solid;
    padding-left: 0.5em;
    border-bottom: #646464 1px solid;
    padding-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 2em;
    white-space: pre;
    background-color: #e6e6e6;
    color: black;
}

span.download {
    font-weight: normal;
    color: blue;
    background: #EEEEEE;
}

.path {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navi {
    text-align: right;
}

.headerURL {
    text-align: right;
    font-size: 80%;
}

.hotbar {
    color: red;
}

.hilight {
    color: black;
    background: #ffff66;
}

span.diff-added {
   color: blue;
}

span.diff-deleted {
   color: red;
}

table.entity,
table.entity tr th,
table.entity tr td
{
   border: black 1px solid;
}
