<%= header(pg) %>
<%= navi(pg) %>
<%= body(pg) %>
<div class="annotate">

<%
  target_page = pg.book[target]
  logs = target_page.logs.reverse
  r, log = get_revesion_and_log(logs, rev)
  annotate = target_page.annotate(log.revision)
%>

<% if annotate.empty? %>
<p><%= _("No content.") %></p>
<% else %>
<pre class="annotate-content"><%= format_annotate(annotate, logs) %></pre>
<% end %>

</div>
<%= footer(pg) %>
