<html>
<head>
<title>RWiki/BTS/Table <%=h pg.name %></title>
</head>
<body bgcolor='#ffffff'>

<table width="100%" border="1" cellspacing="0" cellpadding="0"><% 
  rows = matrix(pg)
  rows.reverse_each do |row| 
    %><tr><%
    row.each do |col|
      %><td bgcolor="<%= col.color %>" width="20%" align="center">
        <p>
        <a href="<%= ref_name(col.name) %>"><%=h col.head %></br></a>
        <%=h col.date %></br>
        <%=h col.charge %></br>
        <%=h col.summary %>
        </p>
        </td><%
    end
    %></tr><%
  end
%></table>
<hr />
<p class="headerURL"><a href="<%= ref_name(pg.name) %>"><%=h pg.name %></a></p>
</body>
</html>

