<%= header(pg) %>
<%= navi(pg) %>
<% urlStr = full_ref_name(pg.name) %>
<p class="headerURL">URL: <a href="<%= urlStr %>"><%= urlStr %></a></p>

<hr />

<div class='bts_navi'>
<p>
[<a href="<%= ref_name(pg.name, 'bts' => 'concat') %>">Concat</a>]
[<a href="<%= ref_name(pg.name, 'bts' => 'table') %>">Table</a>]
</p>
</div>

<%= body(pg) %>

<%= body(pg.desc_page) %>

<%= footer(pg) %>
