<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=<%= charset %>" />
<link rel="help" href="<%= ref_name('help') %>" />
<%=
  header_hooks.collect do |hook|
    hook.to_html(pg, self)
  end.join("\n")
%>
<title><%=h pg.title %></title>
</head>
<body>
