<%= header(pg) %>
<%= navi(pg) %>
<%= body(pg) %>

<h2><%=_("Extensions")%></h2>
<ul>
<%
    RD::RD2RWikiVisitor::EXTENSIONS.each do |ext_type, (ext_type_name, klass)|
%><li><%=h(s_(ext_type_name))%>
<dl>
<%
        klass.extensions.each do |ext_name|
%><dt><%=h ext_name%></dt>
<dd><%= _(klass.document(ext_name)) %></dd>
<%
        end
%>
</dl>
</li>
<%
    end
%>
</ul>

<%= footer(pg) %>
