<div class="inline-recent">
<p>Recent changes:<br />
<%
  key = "pages"
  default = 10
  num, range, have_more = limit_number(key, default, pg.book.size)
  pg.book.recent_changes[range].each do |page|
%>
<%= link_and_modified(page) %><br />
<%
  end
  if have_more
%>
<a href="<%= full_ref_name(pg.name, key => num + 30) %>"><%=_("more ...")%></a>
<%
  end
%>
</p>
</div>
