<%= header(pg) %>
<%= navi(pg) %>
<p class="jump-to-textarea">
<a href="#textarea"><%=h _("jump to textarea")%></a>
</p>
<div class="preview">
<%= body(pg) %>
</div>
<hr />
<%= edit_form(pg, src) %>
<%= footer(pg) %>
