<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=<%= @@charset %>" />
<meta name="ROBOTS" content="NOINDEX" />
<%=
  header_hooks.collect do |hook|
    hook.to_html(pg, self)
  end.join("\n")
%>
<title><%=h sprintf(_("Redirect to '%s'"), pg.title) %></title>
</head>
<body>
<% urlStr = full_ref_name(pg.name) %>
<div class="redirect">
<h1><%=sprintf(s_("transitional redirect|Redirect to '%s'"), h(pg.name))%></h1>

<p>
<%=sprintf(s_("transitional redirect|Check new URL '%s' and update your links."),
           "<a href=\"#{urlStr}\" id=\"redirect-uri\">#{h(pg.name)}</a>") %>
</p>

<noscript>
<p><%=s_("transitional redirect|If you enable javascript, the fragment of URL converted too.")%></p>
</noscript>
<p id="hello"></p>

<script type="text/javascript">
if (location.hash) {
  var hello = document.getElementById("hello");
  hello.innerHTML = "<%=s_("transitional redirect|converting the fragment of URL...")%>";
  <% convert_failed = s_("transitional redirect|The fragment of URL convert failed.")%>
  var xmlhttp = null;
  try {
    xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
  } catch(e) {
    try {
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    } catch(e) {
      try {
        xmlhttp = new XMLHttpRequest();
      } catch(e) {}
    }
  }
  if (xmlhttp) {
    xmlhttp.open("GET", location.pathname + "?cmd=convert;name=" + escape(location.hash), true);
    xmlhttp.onreadystatechange = function() {
      try {
        if (xmlhttp.readyState == 4) {
          var response = xmlhttp.responseText;
          // hello.innerHTML = response;
          if (xmlhttp.status == 200) {
            var anchor = document.getElementById("redirect-uri");
            var array = response.split("\n");
            anchor.hash = '#' + array[0];
            anchor.innerHTML += '#' + array[1];
            hello.innerHTML += "<%=s_("transitional redirect|done.")%>";
          } else {
            hello.innerHTML = "<%=convert_failed%>";
          }
        }
      } catch (e) {
        hello.innerHTML = "<%=convert_failed%>";
      }
    }
    xmlhttp.send(null);
  } else {
    hello.innerHTML = "<%=convert_failed%>";
  }
}
</script>

</body>
</html>
